*{
    margin: 0;
    padding: 0;
}

.bg{
    background-image: url("../images/nature-images..jpg");
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.txt{
    text-align: center ;
    color: white;

}
.btn{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
    
}
.btn::after{
    content: "";
    
}

