

table,th,td{
  border: 1px solid;
}

th,td{
    padding: 10px;
}
th:last-child,td:nth-of-type(3n+3){
    background-color: rgb(55, 43, 226);
    
}

table{
    width: 30%;
    border-collapse: collapse;
    
}
